<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!--重要注释
    https://developer.android.com/about/versions/14/changes/schedule-exact-alarms?hl=zh-cn#affected-apps
    Android 14 需要USE_EXACT_ALARM 权限，否则会报错：
    Caller com.xxxx needs to hold android.permission.SCHEDULE_EXACT_ALARM or android.permission.USE_EXACT_ALARM to set exact alarms.
    -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.USE_EXACT_ALARM"
        android:maxSdkVersion="32" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <service
            android:name="cn.wildfirechat.client.ClientService"
            android:process=":marsservice" />
        <receiver
            android:name="com.tencent.mars.BaseEvent$ConnectionReceiver"
            android:process=":marsservice" />

        <!--must run in th main process-->
        <receiver android:name="cn.wildfirechat.remote.RecoverReceiver" />
    </application>
</manifest>
