<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 音视频通话时， 允许普通电话打断音视频通话 -->
    <!--    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->

    <application
        android:name="cn.wildfire.chat.app.MyApp"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <!-- 地图 -->
        <!-- 腾讯地图的密钥是和包名绑定的，修改包名、或修改签名等时，需要自行去申请密钥，https://lbs.qq.com/ -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="TOEBZ-67IR4-ZDHUV-DSDXX-TJZU7-UYFE7" />

        <activity
            android:name="cn.wildfire.chat.app.main.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.wildfire.chat.app.main.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.wildfire.chat.app.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.wildfire.chat.app.setting.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.wildfire.chat.app.setting.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.wildfire.chat.app.main.MainActivity"
            android:exported="true"
            android:label="野火IM"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="${applicationId}.main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="分享到野火IM">
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.SEND" />
                <!--                <action android:name="android.intent.action.SEND_MULTIPLE" />-->
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.wildfire.chat.app.main.PCLoginActivity"
            android:exported="false"
            android:label="PC登录">
            <intent-filter>
                <action android:name="${packageName}.pc.login" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name="cn.wildfire.chat.app.login.SMSLoginActivity" />

        <activity
            android:name="cn.wildfire.chat.app.setting.ChangePasswordActivity"
            android:label="@string/set_new_password" />
        <activity
            android:name="cn.wildfire.chat.app.setting.ResetPasswordActivity"
            android:label="@string/set_new_password" />
        <activity
            android:name="cn.wildfire.chat.app.setting.AccountActivity"
            android:label="@string/account_and_security" />
        <activity
            android:name="cn.wildfire.chat.app.misc.DiagnoseActivity"
            android:label="@string/diagnose" />

    </application>
</manifest>
